/*@media(width: 1024px){
	span#intro{
		font-weight: 300;
	}

	#words{
		font-weight: 300;
	}

}*/

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  	span#intro{
		font-weight: 300;
	}

	#words{
		font-weight: 300;
	}

	#network{
		display: none;
	}

	#navbar a{
		font-weight: 300;
	}
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  	span#intro{
		font-weight: 300;
	}

	#words{
		font-weight: 300;
	}

	.fa.fa-code, .fa.fa-cogs, .fa.fa-check-square-o{
		font-size: 70px;
	}

	#front-end, #back-end, #tdd{
		height: 120px;
	}
}