body{
	font-family: 'Lato', sans-serif;
	margin: 0;
	top: 0;
	height: auto;
	background-color: rgb(226,226,226);
}

#navbar{
	background-color: black;
	display: block;
	height: 30px;
	padding-top: 10px;
	margin: 0;
	top: 0;
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 10;
}

#bottom_nav{
	display: block;
	background-color: lawngreen;
	width: 100%;
	height: 10px;
	margin: 0;
	top: 40px;
	position: fixed;
	z-index: 10;
}

#network{
	position: fixed;
	z-index: -1;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: 0.9;
	left: 0;
}

#container{
	width: 80%;
	margin: auto;
	height: 600px;
	text-align: center;
	display: block;
	margin-top: 10%;
}

span#intro_title{
	font-weight: 400;
	font-size: 30px;
	color: white;
	background-color: rgb(26,26,26);
	padding: 1%;
	margin: 0;
}

span#intro, h2#intro{
	color: white;
	background-color: rgb(26,26,26);
	padding: 1%;
	margin: 0;
}

h2#intro{
	font-weight: 300;
	width: 50%;
	margin: 0 auto;
}

span#intro{
	font-weight: 200; 
	display: inline-block;
	font-size: 20px;
} 


#words{
	background-color: black;
	color: lawngreen;
	font-weight: 200;
	display: inline-block;
	padding: 1%;
	font-size: 20px;
	margin-top: 2%;
}

a{
	display: inline-block;
	max-width: auto;
	margin: auto 5px;
	color: white;
	width: auto;
	text-decoration: none;
	font-weight: 200;
}

a:hover{
	color: grey;
}

#container img{
	border-radius: 50%;
	max-width: 15%;
	opacity: 0.8;
}


/*------------------------SECTIONS ------------------*/

section{
	height: auto;
	padding: 2% 10%;
}

section h1{
	text-align: center;
	font-size: 30px;
	font-weight: 300;
}

section#contact{
	height: auto;
	margin-bottom: 15%;
}

section#skills{
	height: auto;
}

section#lab{
	height: auto;
}



/*----------------------- PROJECTS SECTION --------------------*/

#projects h2{
	font-weight: 400;
	text-align: center;
}

#project_tiles{
	position: relative;
	margin: 3% auto 3% auto;
	display: block;
	width: 80%;
	margin-bottom: -10%;
	/*height: auto;*/
}

#project_tiles img{
    position: relative;
    display: block;
    width: 100%;
}

.slick-dots{
	margin-bottom: 20%;
}

button.slick-prev::before, button.slick-next::before{
	color: grey;
	font-size: 30px;
}

button.slick-prev::before{
	margin-left: -50px;
}

button.slick-next::before{
	margin-left: 20px;
}

#readr, #loople, #spectrm{
	position: relative;
}

#readr a, #loople a, #spectrm a{
	margin: 0;
}

#readr h3, #loople h3, #spectrm h3{
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: rgb(20,21,22);
	padding: 2%;
	font-weight: 300;
	color: #bbb;
	display: block;
}

#readr_content, #loople_content, #spectrm_content{
	bottom: 0;
	position: absolute;
	display: none;
	background-color: rgb(20,21,22);
	color: white;
	padding: 1%;
}

#readr_content p, #loople_content p, #spectrm_content p{
	display: block;
	padding: 1%;
	margin: 0;
	color: #bbb;
	font-weight: 300;
	font-style: italic;
	font-size: 15px;
}

#loople_content p span, #readr_content p span, #spectrm_content p span{
	color: grey;
	font-weight: bold;
}

/* ------------------- PERSONAL PROJECTS ---------------------*/
#personal-projects{
	width: 100%;
	display: block;
	margin: 7% auto;
}

#dancingcats, #shooting-cats, #wdi-ipsum{
	width: 30%;
	height: auto;
	display: inline-block;
	margin: 0px 1.5%;
	position: relative;
	vertical-align: top;
}

#dancingcats img, #wdi-ipsum img, #shooting-cats img{
	width: 100%;
	display: inline-block;
	border: 5px solid white;
	vertical-align: top;
}

#dancingcats #bloc, #wdi-ipsum #bloc, #shooting-cats #bloc{
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}

#dancingcats p, #wdi-ipsum p, #shooting-cats p{
	color: black;
	font-weight: 300;
	font-size: 15px;
}

#dancingcats h2, #wdi-ipsum h2, #shooting-cats h2{
	color: black;
	font-size: 17px;
}

/*----------------------- SKILLS SECTION --------------------- */

#skills_container{
	width: 80%;
	margin: 7% auto 5% auto;
	height: 100%;
	display: block;
}

#front-end, #back-end, #tdd{
	border: 1px solid grey;
	background-color: grey;
	width: 28%;
	height: 170px;
	position: relative;
	display: inline-block;
	margin: 4% 1%;
	vertical-align: top;
	color: white;
	padding: 1%;
}

.fa-code, .fa-cogs, .fa-check-square-o{
	font-size: 100px;
	margin-left: 25%;
	margin-top: 35px;
}

#back-end-details, #test-details{
	font-weight: 400;
	color: black;
	text-align: center;
	position: relative;
	bottom: 80px;
}

#front-end-details{
	bottom: 100px;
	font-weight: 400;
	color: black;
	text-align: center;
	position: relative;
}

#skills li{
	display: inline-block;
}


/*----------------------- LAB SECTION ------------------------ */

#lab p{
	text-align: center;
	font-weight: 300;
}

#device_orientation_game{
	display: inline-block;
	vertical-align: top;
	width: 100%;
}

#device_orientation img{
	width: 90%;
	border-radius: 3%;
	display: block;
	margin: 0 auto;
}

#device_orientation_game img{
	display: block;
	margin: 0 auto;
}

#device_orientation_game a{
	color: black;
}

#device_orientation_game a:hover{
	color: grey;
}

#device_orientation_game button{
	width: 30%;
	padding: 2% 2%;
	border-radius: 5%;
	background-color: #E6E6E6;
	text-align: center;
	font-size: 10px;
	font-weight: 200;
	display: block;
	margin: 0 auto;
}

#threejs, #device_orientation{
	width: 49%;
	display: inline-block;
	margin: 2% auto;
	vertical-align: top;
}

#threejs img{
	width: 90%;
	border-radius: 3%;
	display: block;
	margin: 0 auto;
}

#butterflies_flight, #star-wars{
	display: inline-block;
	vertical-align: top;
	width: 100%;
}

#butterflies_flight{
	margin-right: 17%;
}

#butterflies_flight h4, #star-wars h4, #device_orientation h4{
	text-align: center;
	font-weight: 300;
	margin: 5% auto;
}

#star-wars a{
	color: black;
}

#star-wars a:hover{
	color: grey;
}

#butterflies_flight #button, #star-wars #button{
	width: 30%;
	padding: 2% 2%;
	border-radius: 5%;
	background-color: #E6E6E6;
	text-align: center;
	font-size: 10px;
	font-weight: 200;
	display: block;
	margin: 0 auto;
}

#leap-sphero h3{
	text-align: center;
}

/*----------------------- CONTACT SECTION -------------------- */

#social{
	display: block;
	width: 90%;
	margin: 5% auto;
}

#social a{
	color: black;
	font-weight: 300;
	display: inline-block;
	max-width: 16%;
	margin: 20px auto;
	text-align: center;
}

#social a img{
	width: 40%;
	display: block;
	margin: 0 auto;
	margin-bottom: 5px;
}

#contact p{
	/*display: inline-block;*/
	display: block;
/*	max-width: 40%;*/
	max-width: 60%;
	margin: 0 auto;
	text-align: center;
}

#answer{
	color: white;
	display: block;
	font-family: Courier New;
}

#footer{
	display: block;
	width: 100%;
	bottom: 0;
	position: relative;
	background-color: black;
	height: 30px;
	padding-bottom: 0.2%;
}

#footer p{
	color: white;
	text-align: center;
	font-weight: 300;
}