.show{
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  max-height: 1000px;
  overflow: hidden;
}

.hide-up{
  overflow: hidden;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

#about-container{
  // font-family: 'Source Code Pro';
  font-family: 'Source Sans Pro', sans-serif;
  // margin-top: 5em;

  h1{
    font-size: 100px;
    font-weight: 200;
    color: rgb(45, 48, 122);
    font-weight: 200;
    letter-spacing: 0.3em;
    margin-bottom: 0;
    margin-left: 0.8em;
  }

  h2{
    text-align: center;
    // display: inline-block;
  }

  .about-content-block:nth-of-type(2){
    border-left: 2px solid #da2d2a;;
  }

  .about-content-block{
    display: inline-block;
    width: 49%;
    vertical-align: top;

    #intro-block, #skills-block, #contributions-block{
      display: block;
      width: 70%;
      margin: 0 auto;
    }

    #intro-block{
      text-align: justify;

      h3{
        letter-spacing: 4px;
        margin-bottom: 1em;
      }

      .social-button{
        width: 26.5%;
        margin-right: 1%;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 0.5em;
        border: 2px solid rgb(45, 48, 122);
        display: inline-block;
        text-align: center;
      }
    }
  }

  #skills-block{
    padding-left: 1em;

    .skills{
      display: inline-block;
      vertical-align: top;

      ul{
        list-style: none;
        margin: 0;
        margin-right: 3em;
        padding: 0;
      }
    }
  }
}
#contributions-block{
  display: block;
  margin: 0 auto;
  width: 85%;

  ul{
    list-style: none;
    margin: 0;
    margin-right: 3em;
    padding: 0;
  }
}

.important-title{
  color: rgb(218, 45, 42);
}
