#app-container{
	background: #f3f1f1;
	display: block;
	width: 0;
	position: absolute;
	height: 0;
	top: 50%;
 	left: 50%;
	transform: translate(-50%, -50%);
}

.container-animation{
	animation: grow .5s ease;
	animation-fill-mode: forwards;
}

.container-style{
	width: 100% !important;
	height: 100% !important;
}

@keyframes grow {
	from{
		width: 0;
		height: 0;
	}
	to{
		width: 100%;
		height: 100%;
	}
}

#outer-container{
	min-height: 0;
	background: white;
	max-height: 700px;
	overflow-y: scroll;
	width: 0;
	position: absolute;
	height: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  overflow-x: hidden;

  a{
    text-decoration: none;
  }

  a#home-link{
    color: black;
  }
}

.outer-container-animation{
	animation: growOuterContainer 0.5s ease;
	animation-delay: 0.2s;
	animation-fill-mode:forwards;
}

.outer-container-style{
	width: 95% !important;
	height: 95% !important;
}

@keyframes growOuterContainer {
	from{
		width: 0;
		height: 0;
	}
	to{
		width: 95%;
		min-height: 95%;
	}
}

#contributions-block ul li a{
	color: rgb(26, 25, 169);
}

#contributions-block ul li a:hover{
	text-decoration: underline;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

#outer-container .description{
	display: inline-block;
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
	width: 200px;
	z-index: 20;
	opacity: 0;
	animation: fadeIn 0.5s ease-in 1 forwards;
	animation-delay: 0.5s;
}

#home-link.fade-left{
	animation: fadeLeft 0.3s ease;
	animation-fill-mode: forwards;
	animation-delay: 0.6s;
}

#home-link:hover{
	cursor: pointer;
}

#outer-container .description span:first-child{
	line-height: 30px;
	color: rgb(45, 48, 122);
	font-weight: 200;
	font-size: 30px;
	margin-bottom: 5px;
	margin-top: 0px;
	font-family: 'PT Sans Narrow', sans-serif;
	letter-spacing: 2px;
}

#outer-container .description span:nth-child(2){
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	font-size: 16px;
	margin-top: 5px;
  font-style: italic;
  display: block;
}

