body{
	margin: 0;
	width: 100%;
	// overflow-y: scroll;
}

#app-container{
	background: #f3f1f1;
	display: block;
	width: 0;
	position: absolute;
	height: 0;
	top: 50%;
 	left: 50%;
	transform: translate(-50%, -50%);
}

.container-animation{
	animation: grow 1s ease;
	animation-fill-mode:forwards;
}

.container-style{
	width: 100% !important;
	height: 100% !important;
}

@keyframes grow {
	from{
		width: 0;
		height: 0;
	}
	to{
		width: 100%;
		height: 100%;
	}
}

#outer-container a{
	text-decoration: none;
	color: black;
}

#outer-container{
	min-height: 0;
	background: white;
	max-height: 700px;
	overflow-y: scroll;
	width: 0;
	position: absolute;
	height: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow-x: hidden;
}

.outer-container-animation{
	animation: growOuterContainer 0.5s ease;
	animation-delay: 0.5s;
	animation-fill-mode:forwards;
}

.outer-container-style{
	width: 95% !important;
	height: 95% !important;
}

@keyframes growOuterContainer {
	from{
		width: 0;
		height: 0;
	}
	to{
		width: 95%;
		min-height: 95%;
	}
}

#outer-container #navbar{
	display: block;
	text-align: right;
	margin-right: -20px;
	margin-top: 20px;
	position: relative;
	float: right;
	z-index: 20;
}

#navbar.fade-right{
	animation: fadeRight 0.3s ease;
	animation-fill-mode: forwards;
	animation-delay: 0.7s;
}

#outer-container #navbar a{
	font-size: 10px;
	font-weight: 200;
	color: rgb(255, 28, 0);
	margin-right: 10px;
	display: block;
	margin-bottom: 5px;
}

#outer-container #navbar a:hover{
	text-decoration: none;
	cursor: pointer;
}

#contributions-block ul li a{
	color: rgb(26, 25, 169);
}

#contributions-block ul li a:hover{
	text-decoration: underline;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn .5s ease-in 1 forwards;
}

.is-paused {
  animation-play-state: paused;
}

#outer-container .description{
	display: inline-block;
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
	width: 200px;
	z-index: 20;
	opacity: 0;
	animation: fadeIn 0.5s ease-in 1 forwards;
	animation-delay: 0.5s;
}

#home-link.fade-left{
	animation: fadeLeft 0.3s ease;
	animation-fill-mode: forwards;
	animation-delay: 0.6s;
}

#home-link:hover{
	cursor: pointer;
}

#outer-container .description h1{
	line-height: 30px;
	color: rgb(45, 48, 122);
	font-weight: 200;
	font-size: 30px;
	margin-bottom: 5px;
	margin-top: 0px;
	font-family: 'PT Sans Narrow', sans-serif;
	letter-spacing: 2px;
}

#outer-container .description h3{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	font-size: 12px;
	margin-top: 5px;
	font-style: italic;
}



// LOADER

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace.pace-inactive .pace-progress {
  display: none;
}

.pace .pace-progress {
  position: fixed;
  z-index: 2000;
  // top: 0;
  // right: 0;
	top: calc(50% - 3.5rem);
	left: 50%;
	transform: translate(-50%, -50%);
  height: 7rem;
  width: 7rem;

  -webkit-transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.pace .pace-progress:after {
  display: block;
  position: absolute;
  top: 0;
  right: .2rem;
  content: attr(data-progress-text);
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 7rem;
  line-height: 1;
  text-align: right;
  color: rgba(0, 0, 0, 0.19999999999999996);
}
