/* === PT Sans Narrow - regular */
@font-face {
	font-family: 'PT Sans Narrow';
	font-style: normal;
  font-weight: 400;
  font-display: fallback;
	src: url("../font/PtSansNarrow-Regular.eot");
	src: local("PT Sans Narrow"),
		local("PTSans-Narrow"),
		url("../font/PtSansNarrow-Regular.eot") format("embedded-opentype"),
		url("../font/PtSansNarrow-Regular.woff2") format("woff2"),
		url("../font/PtSansNarrow-Regular.woff") format("woff"),
		url("../font/PtSansNarrow-Regular.ttf") format("truetype");
}

/* === PT Sans Narrow - 700 */
@font-face {
	font-family: 'PT Sans Narrow';
	font-style: normal;
  font-weight: 700;
  font-display: fallback;
	src: url("../font/PtSansNarrow-Bold.eot");
	src: local("PT Sans Narrow Bold"),
		local("PTSans-NarrowBold"),
		url("../font/PtSansNarrow-Bold.eot") format("embedded-opentype"),
		url("../font/PtSansNarrow-Bold.woff2") format("woff2"),
		url("../font/PtSansNarrow-Bold.woff") format("woff"),
		url("../font/PtSansNarrow-Bold.ttf") format("truetype");
}

/* === Source Sans Pro - 200 */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
  font-weight: 200;
  font-display: fallback;
	src: url("../font/SourceSansPro-ExtraLight.eot");
	src: local("Source Sans Pro ExtraLight"),
		local("SourceSansPro-ExtraLight"),
		url("../font/SourceSansPro-ExtraLight.eot") format("embedded-opentype"),
		url("../font/SourceSansPro-ExtraLight.woff2") format("woff2"),
		url("../font/SourceSansPro-ExtraLight.woff") format("woff"),
		url("../font/SourceSansPro-ExtraLight.ttf") format("truetype");
}

/* === Source Sans Pro - 300 */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
  font-weight: 300;
  font-display: fallback;
	src: url("../font/SourceSansPro-Light.eot");
	src: local("Source Sans Pro Light"),
		local("SourceSansPro-Light"),
		url("../font/SourceSansPro-Light.eot") format("embedded-opentype"),
		url("../font/SourceSansPro-Light.woff2") format("woff2"),
		url("../font/SourceSansPro-Light.woff") format("woff"),
		url("../font/SourceSansPro-Light.ttf") format("truetype");
}

/* === Source Sans Pro - regular */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
  font-weight: 400;
  font-display: fallback;
	src: url("../font/SourceSansPro-Regular.eot");
	src: local("Source Sans Pro Regular"),
		local("SourceSansPro-Regular"),
		url("../font/SourceSansPro-Regular.eot") format("embedded-opentype"),
		url("../font/SourceSansPro-Regular.woff2") format("woff2"),
		url("../font/SourceSansPro-Regular.woff") format("woff"),
		url("../font/SourceSansPro-Regular.ttf") format("truetype");
}

/* === Source Sans Pro - 600 */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
  font-weight: 600;
  font-display: fallback;
	src: url("../font/SourceSansPro-SemiBold.eot");
	src: local("Source Sans Pro SemiBold"),
		local("SourceSansPro-SemiBold"),
		url("../font/SourceSansPro-SemiBold.eot") format("embedded-opentype"),
		url("../font/SourceSansPro-SemiBold.woff2") format("woff2"),
		url("../font/SourceSansPro-SemiBold.woff") format("woff"),
		url("../font/SourceSansPro-SemiBold.ttf") format("truetype");
}
