#navbar{
	font-family: 'Source Sans Pro', sans-serif;
	width: auto;
  display: block !important;

	.link{
		display: block;
		float: right;
		clear: both;
		margin-right: -180px;
		transition-timing-function: ease-out;
		transition: 0.5s;
		transform: translateX(180px);
	}

	@for $i from 1 through 4{
		.navbar-link-animation:nth-child(#{$i}) {
			transition: all 1.2s #{$i * .3}s ease-in;
			transform: translateX(-170px);
		}
	}

	.link-loaded{
		margin-right: -20px;
	}


	.link:hover{
		transition-timing-function: ease-in;
		transition: 0.5s;
		transform: translateX(-180px);
	}

	.line{
		width: 50px;
		display: inline-block;
		vertical-align: middle;
		margin-left: 10px;
		box-shadow: none;
		border: none;
		color: #ccc;
		height: 1px;
	}
}


#home{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  // background: pink;
  h1{
    z-index: 20;
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    font-family: 'PT Sans Narrow';
    font-weight: 800;
    text-transform: uppercase;
    font-size: 50px;
    color: #2d307a;
    opacity: 0;
    animation: appear 1s ease;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
  }

  .outro-animation{
    animation: disappear 1s ease;
    animation-fill-mode: forwards;
  }

  .outro-animation-h2{
    animation: disappearh2 1s ease;
    animation-fill-mode: forwards;
    // animation-delay: 1s;
  }

  .outro-animation-canvas{
    animation: disappearCanvas 0.5s ease;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
  }

  h2{
    position: absolute;
    top: 20%;
    z-index: 20;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow';
    font-weight: 200;
    color: #ff1c00;
    opacity: 0;
    animation: appearSubtitle 1s ease;
    animation-delay: 1.6s;
    animation-fill-mode: forwards;
  }

  #threejs-container{
    opacity: 0;
    animation: canvasAppear 1s ease;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
  }
}

@keyframes appear {
  from{
    opacity: 0;
    top: -10px;
  }
  to{
    opacity: 1;
    top: 25%;
  }
}

@keyframes appearSubtitle {
  from{
    opacity: 0;
    top: -10px;
  }
  to{
    opacity: 0.8;
    top: 35%;
  }
}

@keyframes canvasAppear {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes disappear {
  from{
    opacity: 1;
    top: 25%;
  }
  to{
    opacity: 0;
    top: -5%;
  }
}

@keyframes disappearh2 {
  from{
    opacity: 1;
    top: 35%;
  }
  to{
    opacity: 0;
    top: -5%;
  }
}

@keyframes disappearCanvas {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}
