@media only screen and (max-width : 480px) {
//   body{
//     overflow: hidden;
//   }

  #outer-container{
    .description{
      width: 130px;

      h1{
        line-height: 25px;
        font-size: 25px;
        letter-spacing: 1px;
        font-family: 'PT Sans Narrow';
        font-weight: 600;
      }

      h3{
        font-size: italic;
      }
    }

    #navbar{
      .link{
        a{
          font-size: 13px;
        }
      }
    }
  }

  //******* PROJECTS *********

  #projects-container{
    h2{
      font-family: 'PT Sans Narrow';
    }
    .project-block{
      width: 90%;
      margin-top: 5em;

      #project-title-background{
        position: relative;
        left: 0;
        bottom: 0;
      }

      h2{
        font-family: 'PT Sans Narrow';
      }

      h3{
        position: relative;
        left: 0;
        top: 0;
        font-size: 1.5em;
        width: 100%;
        display: block;
        text-align: center;
        font-family: 'PT Sans Narrow';
        font-weight: 100;
      }

      .project-buttons{
        left: 0;
        bottom: -50px;

        .visit-button{
          color: black;
          border: 1px solid black;
        }
      }
    }

    p.svg, #wipe-left{
      display: none !important;
    }


    .project-details{
      width: 90%;
      position: relative;
      top: 0;
      left: 0;
      margin: 0 auto;
      margin-top: 4em;
      margin-bottom: 2em;
      // font-family: 'Roboto';

      img{
        width: 100%;
      }

      p{
        text-align: justify;
      }

      iframe{
        width: 100%;
        height: auto;
      }
    }

    #previous{
      top: 21.5%;
      left: 1.5em;
      z-index: 10;
      font-weight: bold;
    }

    #next{
      right: 1.5em;
      top: 21.5%;
      z-index: 10;
      font-weight: bold;
    }
  }


  //******* ABOUT ********

  #about-container{
    margin-bottom: 2em;

    h1{
      margin-left: 0;
      font-size: 75px;
      width: 90%;
      display: block;
      margin: 0 auto;
      margin-top: 1em;
    }

    .about-content-block{
      // display: block;
      // width: 100%;
    }

    .about-content-block:nth-of-type(1){
      position: relative;
      width: 90%;
      display: block;
      margin: 0 auto;

      #intro-block{
        width: 90%;

        h1{
          width: 100%;
          letter-spacing: 10px;
        }

        h3{
          letter-spacing: 3px;
        }

        #buttons{
          width: 100%;
        }
      }
    }

    .about-content-block:nth-of-type(2){
      border: none;
      width: 90%;
      position: relative;
      display: block;
      margin: 0 auto;
      margin-top: 2em;

      #about-me-block{
        width: 90%;
      }

      #skills-block{
        padding: 0;
        width: 90%;

        .skills{
          width: 48%;
        }

      }
    }

    p.svg{
      display: none;
    }

    #contributions-block{
      width: 90%;
      margin-top: 2em;
    }


  }
//
//   #container .description h1{
//     line-height: 1em;
//     display: inline;
//     font-size: 20px;
//   }
//
//   #background-3d{
//   	position: fixed;
//   	opacity: 0.3;
//   }
//
//   #background-3d iframe{
//   	border: none;
//   }
//
//   #container{
//     border: 5px solid rgb(26, 25, 169);
//   }
//
//   #container #navbar{
//     margin-right: 5px;
//   }
//
//   #container #navbar a{
//     font-size: 12px;
//     margin-right: 7px;
//   }
//
//   #container .description h3{
//     font-size: 15px;
//     margin-top: 0.5em;
//   }
//
//   #about-block{
//     margin: 0 auto;
//     display: block;
//   }
//
//   #about-block .content{
//     width: 90%;
//     margin: 0 auto;
//     display: block;
//   }
//
//   #about-block img{
//     margin-bottom: 2em;
//     margin-top: 2em;
//     margin-left: 1em;
//     width: 10em;
//   }
//
//   #center{
//     max-height: 75%;
//     margin-top: 15%;
//     width: 90%
//   }
//
//   #center #projects-block, #center #about-block, #center #skills-block{
//     width: 100%;
//     display: block;
//     margin: 0 auto;
//   }
//
//   #center #projects-block .project{
//     width: 100%;
//     display: block;
//     margin: 5px auto;
//   }
//
//   #container .footer ul li{
//     font-size: 12px;
//   }
//
//   #container .footer{
//     bottom: 0;
//     width: 120%;
//   }
//
}

//Tablet
@media only screen and (min-width: 500px) and (max-width: 1024px) {
  #projects-container{
    .project-block{
      width: 80%;
      margin-top: 15%;

      .project-buttons{
        bottom: 25px;
      }

      h3{
        bottom: 55px;
      }
    }

    .project-details{
      position: relative;
      width: 80%;
      top: 0;
      left: 0;
    }

    p.svg{
      display: none !important;
    }

    #previous{
      left: 2em;
      top: 49%;
    }
    #next{
      right: 2em;
      top: 48%;
    }
  }

  #about-container{
    margin-bottom: 2em;

    .about-content-block, #contributions-block{
      #about-me-block, #skills-block{
        width: 100%;
      }
    }

    .about-content-block:nth-of-type(1){
      margin-top: 6em;
      display: block;
      width: 90%
    }

    .about-content-block:nth-of-type(2){
      margin-top: 2em;
      position: relative;
      display: block;
      width: 85%;
      margin: 0 auto;
    }

    #contributions-block{
      width: 90%;
    }

    p.svg{
      display: none !important;
    }
  }
}
