#projects-container{
  font-family: 'Source Sans Pro', sans-serif;
  // overflow-y: scroll;
  // max-height: 700px;

  #wipe-left{
    width: 0px;
    height: 1000px;
    background: white;
    position: absolute;
    top: 2em;
    z-index: 5;
  }

  h1{
    font-size: 100px;
    font-weight: 200;
    color: rgb(45, 48, 122);
    font-weight: 200;
    letter-spacing: 0.3em;
    margin-bottom: 0;
    margin-left: 0.8em;
  }

  h2{
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #2d307a;
  }

  .project-number{
    position: absolute;
    // font-size: 50em;
    // display: block;
    // text-align: center;
    // width: 100%;
    // margin: 0 auto;
    // color: lightgray;
    // opacity: 0.2;
    // letter-spacing: -50px;
    // top: -88px;
    // left: 100px;
    // z-index: -1;
    // font-family: 'Playfair Display', serif;
    font-size: 50em;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    color: lightgray;
    opacity: 0.2;
    letter-spacing: -50px;
    /* top: -88px; */
    /* left: 100px; */
    bottom: -150px;
    /* top: 0; */
    z-index: -1;
    font-family: 'Source Sans Pro', serif;
    font-weight: 600;
  }

  .project-block{
    width: 65%;
    display: block;
    margin: 0 auto;
    position: relative;
    margin-top: 6em;

    img{
      width: 100%;
      max-height: 475px;
      box-shadow: 2px 2px 10px lightgrey;
      animation: slideshow 1.5s;
    }

    #project-title-background{
      // background: white;
      // padding: 0.1em 1em;
      position: absolute;
      z-index: 5;
      left: -50px;
      bottom: 100px;
      animation: titleSlide 2.5s;
      margin-bottom: 10px;
    }

    h3{
      color: lightgrey;
      // color: #2d307a;
      font-weight: 600;
      font-size: 3em;
      text-align: center;
      font-family: 'PT Sans Narrow', sans-serif;
      font-style: italic;
      margin: 0;
    }

    .project-buttons{
      animation: titleSlide 2.5s;
      position: absolute;
      bottom: 60px;
      left: 20px;

      .visit-button{
        display: inline-block;
        border: 1px solid white;
        color: white;
        font-style: italic;
        padding: 0.5em 1em;
        margin-right: 10px;
        font-weight: 200;
      }
    }

    p{
      position: absolute;
      left: -40px;
      top: 8em;
      color: lightgrey;
      animation: titleSlide 2.5s;
      font-weight: 200;
      font-size: 15px;
    }
  }

  #next{
    font-size: 12px;
    position: absolute;
    top: 52%;
    right: 4em;
    letter-spacing: 2px;
  }

  #next:hover, #previous:hover{
    cursor: pointer;
    text-decoration: underline;
  }

  #previous{
    position: absolute;
    font-size: 12px;
    top: 52%;
    left: 4em;
    letter-spacing: 2px;
  }

  p.svg{
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    color: #2d307a;
    margin-top: 20px;
    position: absolute;
    bottom: 0;

    svg{
      width: 14px;
      display: block;
      margin: 10px auto;
      -webkit-animation: bounce-arrow 2s infinite ease-in-out;
      -moz-animation:    bounce-arrow 2s infinite ease-in-out;
      -o-animation:      bounce-arrow 2s infinite ease-in-out;
      animation:         bounce-arrow 2s infinite ease-in-out;
    }
  }

  .project-details{
    width: 50%;
    // display: block;
    margin: 0 auto;
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 27%;

    img{
      width: 100%;
    }

    a.project-link{
      text-decoration: underline;
    }
  }
}


@-webkit-keyframes bounce-arrow {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(0px);
  }
}

@-moz-keyframes bounce-arrow {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(0px);
  }
}

@keyframes bounce-arrow {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(0px);
  }
}

@keyframes wipe {
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(1000px);
  }
  100%{
    transform: translateX(2000px);
  }
}


@keyframes slideshow {
  from{
    margin-left: 30%;
    opacity: 0;
  }

  to{
    margin-left: 0%;
    opacity: 1;
  }
}

@keyframes titleSlide {
  from{
    margin-left: -20%;
    opacity: 0;
  }

  to{
    margin-left: 0%;
    opacity: 1;
  }
}
