#projects-container{
  // font-family: 'Source Code Pro';
  font-family: 'Source Sans Pro', sans-serif;
  // margin-top: 5em;

  h1{
    font-size: 100px;
    font-weight: 200;
    color: rgb(45, 48, 122);
    font-weight: 200;
    letter-spacing: 0.3em;
    margin-bottom: 0;
    margin-left: 0.8em;
  }

  h2{
    text-align: center;
  }
}
