//Tablet
@media only screen and (min-width: 500px) and (max-width: 1024px) {
  #projects-container{
    .project-block{
      width: 80%;
      margin-top: 15%;

      .project-buttons{
        bottom: 25px;
      }

      h3{
        bottom: 55px;
      }
    }

    .project-details{
      position: relative;
      width: 80%;
      top: 0;
      left: 0;
    }

    p.svg{
      display: none !important;
    }

    #previous{
      left: 2em;
      top: 49%;
    }
    #next{
      right: 2em;
      top: 48%;
    }
  }

  #about-container{
    margin-bottom: 2em;

    .about-content-block, #contributions-block{
      #about-me-block, #skills-block{
        width: 100%;
      }
    }

    .about-content-block:nth-of-type(1){
      margin-top: 6em;
      display: block;
      width: 90%
    }

    .about-content-block:nth-of-type(2){
      margin-top: 2em;
      position: relative;
      display: block;
      width: 85%;
      margin: 0 auto;
    }

    #contributions-block{
      width: 90%;
    }

    p.svg{
      display: none !important;
    }
  }
}
