#app-container {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f3f1f1;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.container-grow{
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-delay: 1s;
  animation: grow 1s ease;
  animation-fill-mode:forwards;
}

@keyframes grow {
  from{
    width: 0;
    height: 0;
  }
  to{
    width: 100%;
    height: 100%;
  }
}

.outer-container{
  min-height: 0;
  background: white;
  max-height: 700px;
  overflow-y: scroll;
  position: absolute;
  width: 95%;
  height: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.outer-container-grow{
  width: 0;
  height: 0;
  overflow-x: hidden;
  animation: growOuterContainer 1.5s ease;
  animation-fill-mode:forwards;
}

@keyframes growOuterContainer {
  from{
    width: 0;
    height: 0;
  }
  to{
    width: 95%;
    min-height: 95%;
  }
}

.outer-container .description{
	display: inline-block;
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
	width: 200px;
	z-index: 20;
	opacity: 0;
	animation: fadeIn 0.5s ease-in 1 forwards;
	animation-delay: 0.5s;
}

.outer-container .description h1{
	line-height: 30px;
	color: rgb(45, 48, 122);
	font-weight: 200;
	font-size: 30px;
	margin-bottom: 5px;
	margin-top: 0px;
	font-family: 'PT Sans Narrow', sans-serif;
	letter-spacing: 2px;
}

.outer-container .description h3{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	font-size: 12px;
	margin-top: 5px;
	font-style: italic;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
