h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.outer-container{
  min-height: 0;
  background: white;
  max-height: 700px;
  overflow-y: scroll;
  width: 0;
  position: absolute;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-x: hidden;
  animation: growOuterContainer 1s ease;
  animation-fill-mode:forwards;
}

@keyframes growOuterContainer {
  from{
    width: 0;
    height: 0;
  }
  to{
    width: 95%;
    min-height: 95%;
  }
}
