<div id="projects-container">
  <h2>Projects</h2>

    <a href="{{projects.attributes.url}}" target="_blank">{{ projects.attributes.title }}</a>
    <img src="{{projects.attributes.image}}" style="width: 100px" alt="" />
    <p>
      {{projects.attributes.description}}
    </p>

  <div id="next">
    Next
  </div>

  <div id="previous">
    Previous
  </div>

</div>
